body {
    margin-left: 60px;
    font-family: Arial, sans-serif;
    color: #7d7e7d;
}

h1 {
    font-family: "Times New Roman", serif;
    font-size: 36px;
    color: #ffffff;
    background-color: #86d6f6;
    max-width: fit-content;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

h3 {
    font-family: "Times New Roman", serif;
    margin-bottom: 25px;
    color: #86d6f6;
}


.rivi {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #7d7e7d;
}

.rivi label {
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.rivi input[type="text"],
.rivi input[type="password"] {
    width: 410px;
    height: 25px;
    box-sizing: border-box;
}

#kayttajaID,
#salasana {
    width: 135px !important;
}

#postinumero {
    width: 193px !important;
}

#maa {
    width: 130px;
    height: 26px;
}

.rivi input[type="radio"],
.rivi input[type="checkbox"] {
    margin-left: 5px;
}

textarea {
    width: 445px;
    height: 195px;
}

.lisatieto {
    align-items: flex-start;
}

.nappi {
    margin-left: 255px;
    margin-top: 25px;
}

button {
    font-size: 20px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #86d6f6;
}

.rivi span {
    margin-left: 3px;
}

.rivi span[id$="Virhe"] {
    color: red;
    margin-left: 10px;
}

#tulos {
    margin-left: 100px;
    font-weight: bold;
}